# --- Root / General ---
.DS_Store
.env
node_modules/

# --- Client (Next.js) ---
client/.next/
client/node_modules/
client/.env*
client/out/

# --- ML Backend (Python) ---
ml-backend/venv/
ml-backend/__pycache__/
ml-backend/.env
ml-backend/*.pyc
ml-backend/node_modules/
ml-backend/.ipynb_checkpoints/